# Imports

In [1]:
import numpy  as np
import pandas as pd

import matplotlib.pyplot as plt

from dstoolkit.feature_engine import SimpleLagTimeFeatureCreator

## Loading Dataset

In [2]:
# the data is from https://datahub.io/core/global-temp
df = pd.read_csv("../data/global_temperature_time_series.csv")

In [3]:
df.head()

  Source     Year    Mean
0   gcag  1850-01 -0.6746
1   gcag  1850-02 -0.3334
2   gcag  1850-03 -0.5913
3   gcag  1850-04 -0.5887
4   gcag  1850-05 -0.5088

In [4]:
df = df.drop(['Source'], axis=1).rename({'Year': 'time', 'Mean': 'temperature'}, axis=1)
df['time'] = pd.to_datetime(df['time'])

## Class SimpleLagTimeFeatureCreator

In [5]:
df = df.loc[:, ['time', 'temperature']].sample(frac=1)
df.head()

           time  temperature
2781 1980-11-01       0.2063
3131 1995-06-01       0.3784
2164 1955-03-01      -0.3200
900  1902-07-01      -0.2800
3538 2012-06-01       0.6400

In [6]:
s = SimpleLagTimeFeatureCreator(windows=[2, 3, 4, 5, 6], functions=['mean', 'median', 'max', 'min', 'sum', 'std', 'diff', 'slope'])
df = s.create(df, 'temperature', time='time')

In [7]:
df.head(10)

,time,temperature,temperature_sum_1_lag,temperature_mean_2_lag,temperature_mean_3_lag,temperature_mean_4_lag,temperature_mean_5_lag,temperature_mean_6_lag,temperature_median_2_lag,temperature_median_3_lag,...,temperature_diff_lag_2_vs_3,temperature_diff_lag_2_vs_4,temperature_diff_lag_2_vs_5,temperature_diff_lag_2_vs_6,temperature_diff_lag_3_vs_4,temperature_diff_lag_3_vs_5,temperature_diff_lag_3_vs_6,temperature_diff_lag_4_vs_5,temperature_diff_lag_4_vs_6,temperature_diff_lag_5_vs_6
0,1850-01-01,-0.6746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1850-02-01,-0.3334,-0.6746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1850-03-01,-0.5913,-0.3334,-0.50400,NaN,NaN,NaN,NaN,-0.50400,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1850-04-01,-0.5887,-0.5913,-0.46235,-0.533100,NaN,NaN,NaN,-0.46235,-0.5913,...,0.3412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1850-05-01,-0.5088,-0.5887,-0.59000,-0.504467,-0.547000,NaN,NaN,-0.59000,-0.5887,...,-0.2579,0.0833,NaN,NaN,0.3412,NaN,NaN,NaN,NaN,NaN
5,1850-06-01,-0.3442,-0.5088,-0.54875,-0.562933,-0.505550,-0.53936,NaN,-0.54875,-0.5887,...,0.0026,-0.2553,0.0859,NaN,-0.2579,0.0833,NaN,0.3412,NaN,NaN
6,1850-07-01,-0.1598,-0.3442,-0.42650,-0.480567,-0.508250,-0.47328,-0.506833,-0.42650,-0.5088,...,0.0799,0.0825,-0.1754,0.1658,0.0026,-0.2553,0.0859,-0.2579,0.0833,0.3412
7,1850-08-01,-0.2077,-0.1598,-0.25200,-0.337600,-0.400375,-0.43856,-0.421033,-0.25200,-0.3442,...,0.1646,0.2445,0.2471,-0.0108,0.0799,0.0825,-0.1754,0.0026,-0.2553,-0.2579
8,1850-09-01,-0.3847,-0.2077,-0.18375,-0.237233,-0.305125,-0.36184,-0.400083,-0.18375,-0.2077,...,0.1844,0.3490,0.4289,0.4315,0.1646,0.2445,0.2471,0.0799,0.0825,0.0026
9,1850-10-01,-0.5331,-0.3847,-0.29620,-0.250733,-0.274100,-0.32104,-0.365650,-0.29620,-0.2077,...,-0.0479,0.1365,0.3011,0.3810,0.1844,0.3490,0.4289,0.1646,0.2445,0.0799